/* Globals */
html,
body {
  background-color: #fafafa;
}
main > .section:first-of-type {
  padding-top: 6rem;
}

/* Button Fix */
i.white-text > input {
  color: white;
}

/* Checkbox Fix */
.input-field.checkbox > label {
  position: relative;
}

/* Helper */
.pt-2em {
  padding-top: 2em;
}

/* Let Forms Breathe */
.input-field {
  margin: 2em 0;
}
.card-action {
  margin-top: 4em;
}
