/* Globals
 *****************************************************************************/
html,
body {
  background-color: #fafafa;
}

main>.section:first-of-type {
  padding-top: 6rem;
}


/* Materialize Icons Bugfix
 *****************************************************************************/
i.white-text>input {
  color: white;
}


/* Helpers
 *****************************************************************************/
.pt-2em {
  padding-top: 2em;
}


/* Forms
 *****************************************************************************/
.input-field {
  margin: 2em 0;
}
.input-field.checkbox>label {
  position: relative;
}

.card-action {
  margin-top: 4em;
}


/* GMaps
 *****************************************************************************/
.gmap-show {
  padding-top: 40% !important
}
.gmap-show .gmap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#gmap-form {
  height: 600px;
}
#gmap-form #map {
  height: 100%;
}
#gmap-form .controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
#gmap-form .controls:focus {
  border-color: #4d90fe;
}
#gmap-form .title {
  font-weight: bold;
}
#gmap-form #infowindow-content {
  display: none;
}
#gmap-form #map #infowindow-content {
  display: inline;
}