<p id="notice"><%= notice %></p>

<p>
  <strong>Borrower:</strong>
  <%= @transaction.borrower_id %>
</p>

<p>
  <strong>Lender:</strong>
  <%= @transaction.lender_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @transaction.expires_at %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @transaction.starts_at %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.type %>
</p>

<p>
  <strong>Has borrower feedback:</strong>
  <%= @transaction.has_borrower_feedback %>
</p>

<p>
  <strong>Has lender feedback:</strong>
  <%= @transaction.has_lender_feedback %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @transaction.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @transaction.body %>
</p>

<p>
  <strong>Item location:</strong>
  <%= @transaction.item_location %>
</p>

<p>
  <strong>Loan duration:</strong>
  <%= @transaction.loan_duration %>
</p>

<p>
  <strong>Day rate:</strong>
  <%= @transaction.day_rate %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
