- if user_signed_in?
  .fixed-action-btn
    %a.btn-floating.btn-large
      %i.large.material-icons menu
    %ul
      %li
        = link_to new_transaction_path, data:{position: 'top', tooltip: 'New Transaction'}, class: 'btn-floating green tooltipped' do
          %i.material-icons mode_edit
      %li
        = link_to user_path(current_user), data:{position: 'top', tooltip: 'Your Profile'}, class: 'btn-floating yellow darken-2 tooltipped' do
          %i.material-icons account_circle
      %li
        = link_to categories_path, data: {position: 'top', tooltip: 'Browse Categories'}, class: 'btn-floating blue tooltipped' do
          %i.material-icons list
      %li
        = link_to destroy_user_session_path, data:{position: 'top', tooltip: 'Logout'}, method: :delete, class: 'btn-floating red tooltipped' do
          %i.material-icons exit_to_app
%footer#main-footer
  .container
    .row
      #footer-credits
        %p.center-align
          Created by:
          %a{href: 'https://github.com/josephcardillo'} Joe Cardillo
          |
          %a{href: 'https://github.com/noah-callahan'} Noah Callahan
          |
          %a{href: 'https://github.com/delster'} David Elster
