.fixed-action-btn
  %a.btn-floating.btn-large
    %i.large.material-icons menu
  %ul
    %li
      %a.btn-floating.red{href: new_transaction_path}
        %i.material-icons mode_edit
    %li
      -# %a.btn-floating.green{href: user_path(current_user)}
      -#   %i.material-icons account_circle
    %li
      -# %a.btn-floating.blue{href: category_index_path}
        %i.material-icons list
%footer#main-footer
  .container
    .row.center-align
      =link_to 'Home', root_path
      - if user_signed_in?
        =link_to 'Profile', user_path(current_user)
        =link_to 'Users', users_path
        =link_to 'Transactions', transactions_path
        =link_to 'Sign Out', destroy_user_session_path, method: :delete
    .row
      #footer-credits
        %p.center-align
          Created by:
          %a{href: 'https://github.com/josephcardillo'} Joe Cardillo
          |
          %a{href: 'https://github.com/noah-callahan'} Noah Callahan
          |
          %a{href: 'https://github.com/delster'} David Elster
