%header#main-header
  %nav
    .nav-wrapper
      %form
        .input-field
          = search_field 'search', nil
          %label.label-icon
            %i.material-icons search
          %i.material-icons close