%header#main-header
  %nav
    .nav-wrapper
      %form
        .input-field
          %input#search{type: "search", required: true}
          %label.label-icon{for:"search"}
            %i.material-icons search
          %i.material-icons close